<a href="https://colab.research.google.com/github/Kaybhee/Japa-Modelv1/blob/main/Countries__data_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [72]:
import pandas as pd
from google.colab import files

In [3]:
country_data = pd.read_csv('/content/Country data.csv')
country_data

,Name,GENC,Year,Population,Annual Growth Rate,Rate of Natural Increase,Population Density,Total Fertility Rate,Crude Birth Rate,"Life Expectancy at Birth, Both Sexes","Life Expectancy at Birth, Males","Infant Mortality Rate, Both Sexes",Crude Death Rate,Net Migration Rate,Area in Square Kilometers
0,Afghanistan,AF,2000,"23,603,559",-0.79,3.52,36.2,7.4,46.7,56.4,55.3,87.6,11.5,-43.1,"652,230"
1,Afghanistan,AF,2005,"28,870,154",4.39,3.53,44.3,7.2,45,59.2,58,74.2,9.7,8.6,"652,230"
2,Afghanistan,AF,2010,"33,403,052",2.56,3.25,51.2,6.38,40.6,61.7,60.4,62.9,8.1,-6.8,"652,230"
3,Afghanistan,AF,2015,"38,887,370",3.08,2.88,59.6,5.33,35.8,63.9,62.6,53.2,6.9,1.9,"652,230"
4,Afghanistan,AF,2020,"44,213,498",2.6,2.91,67.8,5.1,36.5,62.9,59.8,44.7,7.4,-3.1,"652,230"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1357,Zimbabwe,ZW,2005,"13,165,551",-0.24,1.81,34,3.86,33.9,46.4,45.7,53.7,15.8,-20.5,"386,847"
1358,Zimbabwe,ZW,2010,"13,222,536",0.44,2.47,34.2,4.11,36.5,54.9,53.2,51.4,11.8,-20.3,"386,847"
1359,Zimbabwe,ZW,2015,"14,072,188",1.94,2.55,36.4,3.91,34.3,62,59.9,42.2,8.8,-6.1,"386,847"
1360,Zimbabwe,ZW,2020,"15,787,762",2.26,2.4,40.8,3.65,31.2,65.5,63.8,36.5,7.3,-1.4,"386,847"
1361,Zimbabwe,ZW,2025,"17,472,752",1.82,2.18,45.2,3.42,28.2,67.6,66,32.8,6.4,-3.6,"386,847"

In [4]:
data_df = country_data.copy()

In [5]:
country_data.columns

Index(['Name', 'GENC', 'Year', 'Population', 'Annual Growth Rate',
       'Rate of Natural Increase', 'Population Density',
       'Total Fertility Rate', 'Crude Birth Rate',
       'Life Expectancy at Birth, Both Sexes',
       'Life Expectancy at Birth, Males', 'Infant Mortality Rate, Both Sexes',
       'Crude Death Rate', 'Net Migration Rate', 'Area in Square Kilometers'],
      dtype='object')

In [44]:
rename_col = {'Name': 'Country Name', 'GENC': 'Country Alpha', 'Area in Square Kilometers': 'Total Area', 'Population': 'Total_country_population','Life Expectancy at Birth, Both Sexes': 'Life Expectancy at Birth', 'Infant Mortality Rate, Both Sexes': 'Infant Mortality Rate' }
data_df.rename(columns=rename_col, inplace=True)
data_df

,Country Name,Country Alpha,Year,Total_country_population,Annual Growth Rate,Rate of Natural Increase,Population Density,Total Fertility Rate,Crude Birth Rate,Life Expectancy at Birth,"Life Expectancy at Birth, Males",Infant Mortality Rate,Crude Death Rate,Net Migration Rate,Total Area
0,Afghanistan,AF,2000,"23,603,559",-0.79,3.52,36.2,7.4,46.7,56.4,55.3,87.6,11.5,-43.1,"652,230"
1,Afghanistan,AF,2005,"28,870,154",4.39,3.53,44.3,7.2,45,59.2,58,74.2,9.7,8.6,"652,230"
2,Afghanistan,AF,2010,"33,403,052",2.56,3.25,51.2,6.38,40.6,61.7,60.4,62.9,8.1,-6.8,"652,230"
3,Afghanistan,AF,2015,"38,887,370",3.08,2.88,59.6,5.33,35.8,63.9,62.6,53.2,6.9,1.9,"652,230"
4,Afghanistan,AF,2020,"44,213,498",2.6,2.91,67.8,5.1,36.5,62.9,59.8,44.7,7.4,-3.1,"652,230"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1357,Zimbabwe,ZW,2005,"13,165,551",-0.24,1.81,34,3.86,33.9,46.4,45.7,53.7,15.8,-20.5,"386,847"
1358,Zimbabwe,ZW,2010,"13,222,536",0.44,2.47,34.2,4.11,36.5,54.9,53.2,51.4,11.8,-20.3,"386,847"
1359,Zimbabwe,ZW,2015,"14,072,188",1.94,2.55,36.4,3.91,34.3,62,59.9,42.2,8.8,-6.1,"386,847"
1360,Zimbabwe,ZW,2020,"15,787,762",2.26,2.4,40.8,3.65,31.2,65.5,63.8,36.5,7.3,-1.4,"386,847"
1361,Zimbabwe,ZW,2025,"17,472,752",1.82,2.18,45.2,3.42,28.2,67.6,66,32.8,6.4,-3.6,"386,847"

### Swapping columns in a DF
##### The total area moves to the third position while the total population occupies the last index

In [45]:
cols = data_df.columns.tolist()
cols[-1], cols[3] = cols[3], cols[-1]
df_swapped = country_data[cols]
df_swapped

,Country Name,Country Alpha,Year,Total Area,Annual Growth Rate,Rate of Natural Increase,Population Density,Total Fertility Rate,Crude Birth Rate,Life Expectancy at Birth,"Life Expectancy at Birth, Males",Infant Mortality Rate,Crude Death Rate,Net Migration Rate,Total_country_population
0,Afghanistan,AF,2000,"652,230",-0.79,3.52,36.2,7.4,46.7,56.4,55.3,87.6,11.5,-43.1,"23,603,559"
1,Afghanistan,AF,2005,"652,230",4.39,3.53,44.3,7.2,45,59.2,58,74.2,9.7,8.6,"28,870,154"
2,Afghanistan,AF,2010,"652,230",2.56,3.25,51.2,6.38,40.6,61.7,60.4,62.9,8.1,-6.8,"33,403,052"
3,Afghanistan,AF,2015,"652,230",3.08,2.88,59.6,5.33,35.8,63.9,62.6,53.2,6.9,1.9,"38,887,370"
4,Afghanistan,AF,2020,"652,230",2.6,2.91,67.8,5.1,36.5,62.9,59.8,44.7,7.4,-3.1,"44,213,498"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1357,Zimbabwe,ZW,2005,"386,847",-0.24,1.81,34,3.86,33.9,46.4,45.7,53.7,15.8,-20.5,"13,165,551"
1358,Zimbabwe,ZW,2010,"386,847",0.44,2.47,34.2,4.11,36.5,54.9,53.2,51.4,11.8,-20.3,"13,222,536"
1359,Zimbabwe,ZW,2015,"386,847",1.94,2.55,36.4,3.91,34.3,62,59.9,42.2,8.8,-6.1,"14,072,188"
1360,Zimbabwe,ZW,2020,"386,847",2.26,2.4,40.8,3.65,31.2,65.5,63.8,36.5,7.3,-1.4,"15,787,762"
1361,Zimbabwe,ZW,2025,"386,847",1.82,2.18,45.2,3.42,28.2,67.6,66,32.8,6.4,-3.6,"17,472,752"

In [46]:
df_swapped.drop(columns='Rate of Natural Increase', axis=1, inplace=True)

/tmp/ipython-input-1677720250.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_swapped.drop(columns='Rate of Natural Increase', axis=1, inplace=True)

In [47]:
len(df_swapped.columns)
df_swapped

,Country Name,Country Alpha,Year,Total Area,Annual Growth Rate,Population Density,Total Fertility Rate,Crude Birth Rate,Life Expectancy at Birth,"Life Expectancy at Birth, Males",Infant Mortality Rate,Crude Death Rate,Net Migration Rate,Total_country_population
0,Afghanistan,AF,2000,"652,230",-0.79,36.2,7.4,46.7,56.4,55.3,87.6,11.5,-43.1,"23,603,559"
1,Afghanistan,AF,2005,"652,230",4.39,44.3,7.2,45,59.2,58,74.2,9.7,8.6,"28,870,154"
2,Afghanistan,AF,2010,"652,230",2.56,51.2,6.38,40.6,61.7,60.4,62.9,8.1,-6.8,"33,403,052"
3,Afghanistan,AF,2015,"652,230",3.08,59.6,5.33,35.8,63.9,62.6,53.2,6.9,1.9,"38,887,370"
4,Afghanistan,AF,2020,"652,230",2.6,67.8,5.1,36.5,62.9,59.8,44.7,7.4,-3.1,"44,213,498"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1357,Zimbabwe,ZW,2005,"386,847",-0.24,34,3.86,33.9,46.4,45.7,53.7,15.8,-20.5,"13,165,551"
1358,Zimbabwe,ZW,2010,"386,847",0.44,34.2,4.11,36.5,54.9,53.2,51.4,11.8,-20.3,"13,222,536"
1359,Zimbabwe,ZW,2015,"386,847",1.94,36.4,3.91,34.3,62,59.9,42.2,8.8,-6.1,"14,072,188"
1360,Zimbabwe,ZW,2020,"386,847",2.26,40.8,3.65,31.2,65.5,63.8,36.5,7.3,-1.4,"15,787,762"
1361,Zimbabwe,ZW,2025,"386,847",1.82,45.2,3.42,28.2,67.6,66,32.8,6.4,-3.6,"17,472,752"

In [48]:
df_swapped.drop(columns='Life Expectancy at Birth, Males', axis=1, inplace=True)

/tmp/ipython-input-3139495820.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_swapped.drop(columns='Life Expectancy at Birth, Males', axis=1, inplace=True)

In [49]:
df_swapped['Net Migration Rate'] = pd.to_numeric(df_swapped['Net Migration Rate'], errors='coerce')
df_swapped.dtypes

/tmp/ipython-input-2264360630.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_swapped['Net Migration Rate'] = pd.to_numeric(df_swapped['Net Migration Rate'], errors='coerce')

Country Name                 object
Country Alpha                object
Year                          int64
Total Area                   object
Annual Growth Rate           object
Population Density           object
Total Fertility Rate         object
Crude Birth Rate             object
Life Expectancy at Birth     object
Infant Mortality Rate        object
Crude Death Rate             object
Net Migration Rate          float64
Total_country_population     object
dtype: object

In [50]:
dd = df_swapped.columns.tolist()
dd[11]

'Net Migration Rate'

#### A function that retrieves the Migration status

In [51]:
def mig_status(df):
  column = 'Net Migration Rate'
  df['Migration'] = df[column] >= 0
  return df
new_data = mig_status(df_swapped)

/tmp/ipython-input-2411346959.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Migration'] = df[column] >= 0

In [52]:
new_data.isna().sum()

Country Name                 0
Country Alpha                6
Year                         0
Total Area                   0
Annual Growth Rate           0
Population Density           0
Total Fertility Rate         0
Crude Birth Rate             0
Life Expectancy at Birth     0
Infant Mortality Rate        0
Crude Death Rate             0
Net Migration Rate          16
Total_country_population     0
Migration                    0
dtype: int64

In [53]:
new_data[new_data['Country Alpha'].isna()]

,Country Name,Country Alpha,Year,Total Area,Annual Growth Rate,Population Density,Total Fertility Rate,Crude Birth Rate,Life Expectancy at Birth,Infant Mortality Rate,Crude Death Rate,Net Migration Rate,Total_country_population,Migration
840,Namibia,NaN,2000,"823,290",3.24,2.3,4.09,33.6,53.4,66.5,11.6,10.4,"1,877,964",True
841,Namibia,NaN,2005,"823,290",1.22,2.5,3.93,32.5,52.4,59.5,12.7,-7.6,"2,043,266",False
842,Namibia,NaN,2010,"823,290",1.4,2.7,3.73,30.7,59.9,46.2,9.6,-7.1,"2,182,968",False
843,Namibia,NaN,2015,"823,290",2.01,2.9,3.43,28.4,63.3,37.4,8.2,0.0,"2,388,566",True
844,Namibia,NaN,2020,"823,290",1.61,3.2,3.07,25.6,60.7,31,9.5,0.0,"2,627,111",True
845,Namibia,NaN,2025,"823,290",1.76,3.5,2.85,23.9,67.8,27.1,6.4,0.0,"2,852,777",True

#### Fill ```Namibia``` with the necessary iso name "NA"

In [54]:
new_data['Country Alpha'] = new_data['Country Alpha'].fillna("NA")

/tmp/ipython-input-183687862.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_data['Country Alpha'] = new_data['Country Alpha'].fillna("NA")

In [55]:
new_data.isna().sum()

Country Name                 0
Country Alpha                0
Year                         0
Total Area                   0
Annual Growth Rate           0
Population Density           0
Total Fertility Rate         0
Crude Birth Rate             0
Life Expectancy at Birth     0
Infant Mortality Rate        0
Crude Death Rate             0
Net Migration Rate          16
Total_country_population     0
Migration                    0
dtype: int64

In [56]:
new_data[new_data['Net Migration Rate'].isna()]

,Country Name,Country Alpha,Year,Total Area,Annual Growth Rate,Population Density,Total Fertility Rate,Crude Birth Rate,Life Expectancy at Birth,Infant Mortality Rate,Crude Death Rate,Net Migration Rate,Total_country_population,Migration
528,Honduras,HN,2000,"111,890",--,56.9,--,--,--,--,--,NaN,"6,367,242",False
702,Libya,LY,2000,"1,759,540",--,2.9,--,--,--,--,--,NaN,"5,064,358",False
703,Libya,LY,2005,"1,759,540",--,3.2,--,--,--,--,--,NaN,"5,658,181",False
822,Montserrat,MS,2000,102,-115.36,38.7,1.34,12.2,72.6,16.5,13.2,NaN,"3,951",False
972,Puerto Rico,PR,2000,"8,869",--,429.7,--,--,--,--,--,NaN,"3,810,605",False
973,Puerto Rico,PR,2005,"8,869",--,430.9,--,--,--,--,--,NaN,"3,821,525",False
1134,South Sudan,SS,2000,"644,329",--,9.9,--,--,--,--,--,NaN,"6,365,612",False
1135,South Sudan,SS,2005,"644,329",--,12.1,--,--,--,--,--,NaN,"7,778,720",False
1146,Sri Lanka,LK,2000,"64,630",--,294.6,--,--,--,--,--,NaN,"19,041,167",False
1152,Sudan,SD,2000,"1,861,484",--,14.8,--,--,--,--,--,NaN,"27,633,945",False
1153,Sudan,SD,2005,"1,861,484",--,16.6,--,--,--,--,--,NaN,"30,963,544",False
1176,Syria,SY,2000,"185,887",--,88.5,--,--,--,--,--,NaN,"16,457,434",False
1284,United States,US,2000,"9,151,200",--,30.8,--,--,--,--,--,NaN,"282,162,411",False
1285,United States,US,2005,"9,151,200",--,32.3,--,--,--,--,--,NaN,"295,516,599",False
1286,United States,US,2010,"9,151,200",--,33.8,--,--,--,--,--,NaN,"309,327,143",False
1288,United States,US,2020,"9,151,200",--,36.2,--,--,--,--,--,NaN,"331,526,933",False

In [57]:
new_data = new_data.dropna()
preprocessed_data = new_data.copy()

In [58]:
new_data.head()

,Country Name,Country Alpha,Year,Total Area,Annual Growth Rate,Population Density,Total Fertility Rate,Crude Birth Rate,Life Expectancy at Birth,Infant Mortality Rate,Crude Death Rate,Net Migration Rate,Total_country_population,Migration
0,Afghanistan,AF,2000,"652,230",-0.79,36.2,7.4,46.7,56.4,87.6,11.5,-43.1,"23,603,559",False
1,Afghanistan,AF,2005,"652,230",4.39,44.3,7.2,45,59.2,74.2,9.7,8.6,"28,870,154",True
2,Afghanistan,AF,2010,"652,230",2.56,51.2,6.38,40.6,61.7,62.9,8.1,-6.8,"33,403,052",False
3,Afghanistan,AF,2015,"652,230",3.08,59.6,5.33,35.8,63.9,53.2,6.9,1.9,"38,887,370",True
4,Afghanistan,AF,2020,"652,230",2.6,67.8,5.1,36.5,62.9,44.7,7.4,-3.1,"44,213,498",False

In [59]:
# preprocessed_data.iloc[300: 500]
new_data[new_data['Country Name'] == 'Gaza Strip']
new_data.iloc[400: 450]

,Country Name,Country Alpha,Year,Total Area,Annual Growth Rate,Population Density,Total Fertility Rate,Crude Birth Rate,Life Expectancy at Birth,Infant Mortality Rate,Crude Death Rate,Net Migration Rate,Total_country_population,Migration
400,Faroe Islands,FO,2020,"1,393",0.61,37.1,2.31,14.8,80.8,6.3,8.7,0.0,"51,624",True
401,Faroe Islands,FO,2025,"1,393",0.62,38.2,2.26,14.8,81.9,5.6,8.6,0.0,"53,264",True
402,Fiji,FJ,2000,"18,274",0.72,44,2.73,21.9,67.9,15.7,5.9,-8.8,"804,864",False
403,Fiji,FJ,2005,"18,274",0.85,45.8,2.73,22.4,69.4,14.2,5.8,-8.1,"836,445",False
404,Fiji,FJ,2010,"18,274",0.82,47.9,2.65,21.4,70.9,12.9,5.9,-7.4,"875,701",False
405,Fiji,FJ,2015,"18,274",0.66,49.7,2.47,19.3,72.4,11.6,6,-6.8,"908,719",False
406,Fiji,FJ,2020,"18,274",0.48,51.2,2.31,17.3,73.7,10.5,6.3,-6.2,"935,139",False
407,Fiji,FJ,2025,"18,274",0.38,52.3,2.18,15.6,75.1,9.5,6.6,-5.3,"955,284",False
408,Finland,FI,2000,"303,815",0.19,17,1.73,11,77.5,3.7,9.6,0.5,"5,168,595",True
409,Finland,FI,2005,"303,815",0.36,17.2,1.81,11,78.9,3.4,9.2,1.7,"5,238,011",True
410,Finland,FI,2010,"303,815",0.45,17.6,1.88,11.4,79.9,2.4,9.5,2.6,"5,354,669",True
411,Finland,FI,2015,"303,815",0.28,18,1.65,10.1,81.3,1.7,9.6,2.3,"5,471,478",True
412,Finland,FI,2020,"303,815",0.16,18.2,1.38,8.4,81.8,1.8,10.1,3.2,"5,522,887",True
413,Finland,FI,2025,"303,815",0.02,18.3,1.28,7.8,82,1.9,11,3.4,"5,550,449",True
414,France,FR,2000,"640,427",0.56,95.7,1.88,13.3,78.7,5.1,9,1.2,"61,286,728",True
415,France,FR,2005,"640,427",0.59,98.5,1.95,12.9,80.2,4.1,8.5,1.5,"63,089,589",True
416,France,FR,2010,"640,427",0.57,101.5,2.08,13,81.5,3.5,8.4,1.1,"64,971,832",True
417,France,FR,2015,"640,427",0.37,103.9,2.02,12,82.2,3.3,8.9,0.6,"66,561,235",True
418,France,FR,2020,"640,427",0.23,105.9,1.91,11.1,82.2,3.2,9.9,1.1,"67,791,837",True
419,France,FR,2025,"640,427",0.2,107,1.9,10.9,82.8,3.1,9.9,1.1,"68,512,806",True
420,French Polynesia,PF,2000,"3,827",1.84,61.6,2.57,20.9,73.7,6.8,4.3,1.8,"235,866",True
421,French Polynesia,PF,2005,"3,827",1.16,66.3,2.2,17.6,73.4,6.3,4.9,-1.2,"253,764",False
422,French Polynesia,PF,2010,"3,827",1.07,70.2,2.05,16.3,76,5,4.6,-1.0,"268,808",False
423,French Polynesia,PF,2015,"3,827",0.93,73.8,1.92,15.1,77,4.8,5,-0.8,"282,554",False
424,French Polynesia,PF,2020,"3,827",0.78,77.1,1.83,13.9,77.9,4.5,5.4,-0.7,"294,891",False
425,French Polynesia,PF,2025,"3,827",0.63,79.8,1.78,12.7,79.1,4.2,5.8,-0.6,"305,507",False
426,Gabon,GA,2000,"257,667",2.75,4.7,4.2,33.1,59.1,58.3,10.6,5.0,"1,198,880",True
427,Gabon,GA,2005,"257,667",3.07,5.3,4.15,31.9,60.4,51.7,9.8,8.6,"1,362,645",True
428,Gabon,GA,2010,"257,667",3.72,6.3,4.1,30.2,62.5,45.2,8.5,15.5,"1,627,676",True
429,Gabon,GA,2015,"257,667",3.25,7.5,3.68,27,66.2,37.1,6.9,12.4,"1,937,851",True
430,Gabon,GA,2020,"257,667",2.42,8.7,3.41,26.2,69,30.4,5.9,3.9,"2,230,332",True
431,Gabon,GA,2025,"257,667",2.35,9.8,3.16,25.5,70.7,26.1,5.4,3.4,"2,513,738",True
432,"Gambia, The",GM,2000,"10,120",2.17,131.5,6.18,44.3,59.2,62,10.1,-12.5,"1,331,165",False
433,"Gambia, The",GM,2005,"10,120",2.81,149.1,6.03,42.2,61.4,54,8.5,-5.5,"1,509,112",False
434,"Gambia, The",GM,2010,"10,120",3.08,172.9,5.47,38.3,63.3,47.1,7.4,-0.1,"1,749,619",False
435,"Gambia, The",GM,2015,"10,120",2.74,200,4.77,34.1,64.8,42.8,6.7,-0.1,"2,023,672",False
436,"Gambia, The",GM,2020,"10,120",2.42,227.5,4.06,30.2,66.8,38.7,6,0.0,"2,302,355",True
437,"Gambia, The",GM,2025,"10,120",2.09,254.7,3.39,26.5,68.7,35,5.5,0.0,"2,577,553",True
438,Gaza Strip,XG,2000,360,3.19,"3,132.90",6.2,41.6,70.7,26.2,4.5,-5.2,"1,127,829",False
439,Gaza Strip,XG,2005,360,2.69,"3,626.60",6.2,42.2,71.6,23.3,4,-11.3,"1,305,570",False
440,Gaza Strip,XG,2010,360,3.34,"4,194.20",5.45,38.3,72.6,20.6,3.6,-1.3,"1,509,928",False
441,Gaza Strip,XG,2015,360,2.87,"4,886.80",4.41,33.1,73.7,17.7,3.2,-1.1,"1,759,231",False
442,Gaza Strip,XG,2020,360,2.08,"5,477.80",3.6,28.4,72.7,19.2,3.5,-4.1,"1,972,024",False
443,Gaza Strip,XG,2025,360,1.96,"6,068.50",3.14,26.1,76.2,14.2,2.8,-3.7,"2,184,652",False
444,Georgia,GE,2000,"69,700",-0.79,69.1,1.59,11.1,74,29.8,8.8,-10.2,"4,818,805",False
445,Georgia,GE,2005,"69,700",1.78,68.7,1.51,10.9,74.8,22.8,9.1,15.9,"4,790,009",True
446,Georgia,GE,2010,"69,700",0.77,70.3,1.95,14.5,74.9,19.1,10.5,3.7,"4,902,939",True
447,Georgia,GE,2015,"69,700",0.3,71.3,2.31,16.6,72.8,21.7,12.9,-0.7,"4,967,831",False
448,Georgia,GE,2020,"69,700",0.33,71.7,1.97,13,73.3,21,12.9,3.2,"4,997,628",True
449,Georgia,GE,2025,"69,700",-0.45,70,1.94,11.7,73.3,20.9,12.9,-3.3,"4,877,662",False

In [66]:
# Replacing incorrect country names
new_data['Country Name'] = new_data['Country Name'].replace('Gambia, The', 'Gambia')
new_data['Country Name'] = new_data['Country Name'].replace('Gaza Strip', 'State of Palestine')
# Replacing country alpha for State of palestine
new_data['Country Alpha'] = new_data['Country Alpha'].replace('XG', 'SP')

/tmp/ipython-input-4052941411.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_data['Country Name'] = new_data['Country Name'].replace('Gambia, The', 'Gambia')
/tmp/ipython-input-4052941411.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_data['Country Name'] = new_data['Country Name'].replace('Gaza Strip', 'State of Palestine')
/tmp/ipython-input-4052941411.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_data['Country Alpha'] = new_data['Country Alpha'].replace('XG', 'SP')

In [70]:
new_data['Country Name'].count()
new_data.shape

(1346, 14)

In [73]:
prep_df = new_data.to_csv('Country data_preprocessed.csv')
files.download('Country data_preprocessed.csv')